* {
margin: 0;
padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 2em;
  background-color: rgb(238, 237, 237)
}

.main-content{
  display: flex;
}

form {
  display: flex;
  filter: drop-shadow( 0 4 11px rgba(0, 0, 0, 0.5));
  gap: 1em;
}

select {
  padding: .3em;
  font-weight: 600;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn {
  border: none;
  padding: .3em;
  font-weight: 600;
  border-radius: 0.5em;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid lightgray;
}

.btn:hover {
  color: white;
  border: 1px solid black;
  background-color: rgb(202, 204, 206);
}

.color {
width: 100px;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
}

input[type='color'] {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hex {
  color: white;
}